<header class="site-header">

  <div class="wrapper">

    <div class="avatar"><img class="avatar__img" src="{{site.baseurl}}/assets/images/avatar.jpg"> </div>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.nickname }}</a>
    <div class="site-header__twitter">
    <a href="https://twitter.com/AdictoVirtual" class="twitter-follow-button" data-show-count="true">Follow @AdictoVirtual</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <nav class="site-header__profile-nav">
        <ul>
          <li>
            <a href="/">
              Posts
            </a>
          </li><!--
          --><li>
            <a href="/about">
              About
            </a>
          </li><!--
          --><li>
            <a href="https://co.linkedin.com/in/juangabrielramirez">
              Linkedin
            </a>
          </li><!--
          --><li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
              RSS
            </a>
          </li><!--
          --><li>
            <a href="//github.com/adictovirtual">
              GitHub
            </a>
          </li>
        </ul>
      </nav>
    <div class="sidebar__console extra-content">
        <pre class="sidebar__output" id="output">gabo@host:~$ cat info.json
        {
          name: 'Gabriel Ramirez',
          email: '<a href="mailto:tuxgabo@gmail.com">tuxgabo@gmail.com</a>',
          twitter: '<a href="http://twitter.com/adictovirtual">@adictovirtual</a>',
          github: '<a href="http://github.com/adictovirtual">adictovirtual</a>',
          location: '<a href="https://www.google.com/maps/d/edit?mid=z014XtrZlyug.kjPhPtegywrQ&usp=sharing">Medellin, CO</a>',
          interests: [
            'css',
            'javascript',
            'reactjs',
            'angularjs',
            'open source'
          ]
        } 
        </pre>
        <textarea id="prompt" class="sidebar__textarea" spellcheck="false" >gabo@host:~$</textarea>
      <script src="/js/console.js" async=""></script>
      </div>
  </div>

</header>
